.hero {
  padding: 126px 0;
  background-image: url(../img/hero-background.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.hero-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
  text-transform: capitalize;
  color: var(--color-brand-light);
  max-width: 530px;
  margin-bottom: 40px;
}

.hero-text {
  font-size: 12px;
  line-height: 1.5;
  color: #4a4a4a;
  text-align: center;
  max-width: 240px;
}
