.about-us {
  padding: 40px;

  &__container {
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      gap: 32px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: 710px;
    gap: 16px;

    @media screen and (min-width: $bp-tablet) {
      gap: 40px;
      margin-top: 40px;
    }
  }

  &__title {
    font-family: "Play", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: var(--color-brand-dark);
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      font-weight: 700;
      font-size: 64px;
      margin-bottom: 40px;
    }
  }

  &__text {
    font-size: 18px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 22px;
      line-height: 1.7;
    }
  }

  &__star {
    position: absolute;
    right: 22px;
    bottom: -332px;
    fill: var(--color-brand-dark);
    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__img {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
      gap: 40px;
      position: relative;
    }
  }

  &__photo {
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.2);
  }

  &__middle-star {
    position: absolute;
    top: 33px;
    right: -20px;
    fill: var(--color-brand-light);
    rotate: -30deg;
    animation-name: stars-spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }

  &__small-star {
    position: absolute;
    top: 270px;
    right: 14px;
    fill: var(--color-grey);
    rotate: 23deg;
    animation-name: stars-spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }

  &__big-star {
    position: absolute;
    top: 356px;
    left: 121px;
    fill: var(--color-brand-dark);
    animation-name: stars-spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }

  &__second-photo {
    margin-left: 172px;
  }
}

@keyframes stars-spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
